  API_PORT=36000
  MONGO_URI=mongodb://127.0.0.1:27017/
  SWAGGER_API=true
  SSL=false
  nginx=false
  heroku_nginx=false
  xstorage=false
  XWS_BIND_ADDRESS=127.0.0.1
  XWS_ALLOW_NON_LOOPBACK=false
  XWS_CONNECTION_DIAGNOSTICS=false
  AOT_FESL_BIND_ADDRESS=127.0.0.1
  AOT_FESL_ALLOW_NON_LOOPBACK=false
  AOT_FESL_PORTS=13505,18131,18275
  AOT_HOST_GTAGS=host
  AOT_HOST_PIDS=
  AOT_FESL_PARTICIPANTS=
  AOT_FESL_LOG=ea_capture.log
  AOT_CAPTURE_BIND_ADDRESS=127.0.0.1
  AOT_CAPTURE_ALLOW_NON_LOOPBACK=false
  AOT_CAPTURE_LOG=ea_capture.log
